<!--Section: Live preview-->
<section>
  <!-- Default form register -->
  <form class="text-center border border-danger p-5" #registerForm="ngForm" (ngSubmit)="register()">
    <h3 class="mb-4">Register</h3>
    <!-- E-mail -->
    <input type="text" class="form-control mb-4" required name="username" [(ngModel)]="model.username"
      placeholder="Username">
    <!-- Password -->
    <input type="password" class="form-control" required name="password" [(ngModel)]="model.password"
      placeholder="Password">
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
      At least 8 characters and 1 digit
    </small>
    <!-- Newsletter -->
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
      <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
    </div>
    <!-- Sign up button -->
    <button class="btn btn-success my-4 btn-block waves-effect waves-light" type="submit">Register</button>
    <button class="btn btn-danger btn-block waves-effect waves-light" (click)="cancel()" type="button">Cancle</button>
  </form>
  <!-- Default form register -->
</section>
<!--Section: Live preview-->